In [31]:
import pandas as pd

In [32]:
data=[]
def getVal(a):
    x1='"zipcode":"'
    x2='","address":"'
    x3='"}}'
    x=a.split(x1)
    x=x[1].split(x2)
    zipc=x[0]
    x=x[1].split(x3)
    ad=x[0]
    data.append([zipc,ad])

In [33]:
fd=open("Sample.json","r")
for line in fd:
    getVal(line)

In [34]:
df=pd.DataFrame(data,columns=['Zipcode','Address'])
df.head()

  Zipcode    Address
0   12345    Chennai
1   12346     Mumbai
2   12347  Bangalore

In [35]:
df.to_csv('out.csv',index=False)